@import url('https://fonts.cdnfonts.com/css/georgia');

body{
	text-align: center;
	font-family: 'Georgia', sans-serif;
}

header,footer{
	background-color: #4BA3C7;
	color:white;
	font-size:120%;
}

.container {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 80px 400px 80px;
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.item-1 { grid-area: 1 / 1 / 2 / 5; }
.item-2 { grid-area: 2 / 1 / 3 / 2; }
.item-3 { grid-area: 2 / 2 / 3 / 4; }
.item-4 { grid-area: 2 / 4 / 3 / 5; }
.item-5 { grid-area: 3 / 1 / 4 / 5; }

#leftSidebar, #rightSidebar{
	background-color: #EFEFEF;
}
#middlePanel{
	background-color: #90CAF9;
}

table{
	margin-left:10px;
	width:90%;
	border:1px solid #90CAF9;
}
td{
	padding:5px;
	border:1px solid #90CAF9;
}
tr:hover{
	background-color:#90CAF9;
}

input{
	margin: 15px 0 15px 0;
}
/* sposób na uniknięcie <br /> w formularzu :-)*/
.formElement{
	display:block !important;
	white-space: nowrap;
}